.dndflow {
    width: 100%;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .dndflow aside {
    padding: 15px 10px;
    font-size: 16px;
    background: linear-gradient(
      to right,
      rgb(218, 111, 111) 0%,
      rgb(207, 162, 162) 51%,
      rgb(199, 177, 177) 99%,
      rgb(204, 167, 167) 100%
    );
    resize: both;
    overflow: auto;
    position: absolute;
    top: 10%;
    z-index: 5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 6px 2px 14px -9px rgba(235, 223, 235, 1);
    max-height: 100%;
    min-width: 150px;
  }
  .dndflow .default {
    background: rgb(85, 85, 85);
    height: 200px;
  }
  
  .dndflow .dndnode {
    height: 50px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
    cursor: grab;
    color: white;
    justify-content: center;
    transition: all 0.1s ease;
  }
  .dndflow .dndnode:hover {
    transform: scale(1.1);
  }
  .dndflow .dndnode .rectangle{
    height: 10px;
    width: 30px;
    background:rgb(218, 111, 111) 0%;
    margin: 0rem 1.5rem ;
  }
  .dndflow .dndnode .circle{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: rgb(199, 177, 177) 99%;
    margin: 0rem 2rem ;
  }
  .dndflow .dndnode .square{
    height: 15px;
    width: 15px;
    background: rgb(207, 162, 162) 51%;
    margin: 0rem 2rem ;
  }
  .dndflow .dndnode .diamond{
    background: rgb(204, 167, 167) 100%;
    margin: 0.1rem 2.5rem ;
    height: 12px;
    width:9px;
    transform:rotate(45deg);
  }

  .dndflow .description {
    margin: 1rem 1rem;
    margin-left: 2rem;
    color: rgb(48, 40, 40);
  }
  .dndflow .dndnode.common {
    background: rgb(85, 85, 85);
  }
  
  .dndflow .dndnode.functions {
    background: rgb(85, 85, 85);
  }
  .dndflow .dndnode.network {
    background: #c22ecf;
  }
  .dndflow .dndnode.sequences {
    background: #e75c1b;
  }
  .dndflow .dndnode.storage {
    background: #058516;
  }
  
  /* .dndflow .dndnode.special {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    color: aqua;
  } */
  .dndflow .dndnode.special.donut {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    color: aqua;
  }
  .dndflow .dndnode.special.latex {
    background-color: #332546;
    color: white;
  }
  
  .dndflow .reactflow-wrapper {
    height: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 7%;
      border-right: 1px solid black;
      max-width: 500px;
      min-width: 100px;
    }
  }
  